### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Logs ###
*.log
logs/

### Environment ###
.env
*.env.local

### Generated ###
src/main/java/com/currencyx/grpc/proto/
